body{
    background-color: rgb(30, 30, 31);
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

/*CARROUSEL*/
.carousel-item button{
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: #ff4a02;
    color: #fff;
    font-size: 1.2rem;
    font-style: italic;
}


/*NAVBAR*/
.navbar {
    padding-top: 0rem; 
    padding-bottom: 0rem;
    background-color: transparent;
    position: fixed;
    width: 100%;

}

.navbar a {
    color: #ffffff; 
    font-size:medium;
}

.navbar a:hover {
    color: rgb(1, 253, 22); 
}

.logo {
    transform: translate(-2px);
}

/*Tickets*/
#dates button{
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: #ff4a02;
    color: #fff;
    font-size: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

#dates p{
    font-size: 1rem;
}

#dates {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#about p{
    color: #e6e8de;
}

#about button{
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: #abff02;
    color: #191414;
    font-size: 1.2rem;
    font-style: italic;
}
#novedades {
    background-color: #ff631b;
    box-shadow: 10px 10px rgba(68, 255, 0, 0.1);
}

/*ATRACCIONES*/
.flip-card {
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 0 auto;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color: #4b8451;
    color: #0ef725;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.thumbnail {
    width: 70px;
    transition: transform 0.8s, border 0.2s;
}
.thumbnail:hover {
    transform: scale(1.1);
    border: 2px solid #ffefa2;
}

/*CONTACTO*/

#contactonew{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

#contactonew button {
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: #abff02;
    color: #191414;
    font-size: 1.2rem;
    font-style: italic;

}
/*Contacto y formulario*/
.contacto{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    width: 80%; 
    max-width: 600px; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  }

  input, textarea {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 8px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
font-size: 12px;}
    
#nombre{
    margin-bottom: 10px; 
    padding: 8px;
    height: auto;
}
#telefono{
    margin-bottom: 10px; 
    padding: 8px;
    height: auto;
}
#email{
    margin-bottom: 10px; 
    padding: 8px;
    height: auto;
}
#comentario{
    margin-bottom: 10px;
    padding: 8px;
    height: auto;
}
.reder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*TICKETS*/

#tickets .card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 255, 81, 0.2);
    transition: transform 0.3s ease-in-out;
}

#tickets .card:hover {
    transform: scale(1.05);
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    color: #3100f5;
}

#comprar form .form-label {
    font-weight: bold;
    color: whitesmoke;
}

#comprar form .form-control,
#comprar form .form-select {
    border-radius: 8px;
    box-shadow: 0px 10px 4px rgba(255, 0, 217, 0.1);
}

#comprar form button[type="submit"] {
    background-color: #6d05ff;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

#comprar form button[type="submit"]:hover {
    background-color: #fd6500;
}

.modal-content {
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.modal-header {
    background-color: #9e9e9e;
    color: rgb(60, 59, 65);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.modal-body {
    line-height: 1.6;
    color: rgb(60, 59, 65);;
}