<!-- NAVBAR -->
 <style>
    .navbar a {
    color: #ffffff; 
    font-size:medium;
}
    .navbar a:hover {
    color: rgb(1, 253, 22); 
}
 </style>
<nav class="navbar fixed-top navbar-expand-lg dm-sans">
    <div class="container">
        <a class="navbar-brand" href="#carrousel">
            <img class="Logo" src="../static/logos/letterlogo.png" alt="logo" width="180" class="d-inline-block align-text-top">
        </a>
        <div class="navbar-nav ms-auto">
            <a class="nav-link hover-effect" href="{% url 'appFinallp1:Homepage' %}">Home</a>
            <a class="nav-link hover-effect" href="{% url 'appFinallp1:Homepage' %}#about">Conócenos</a>
            <a class="nav-link hover-effect" href="{% url 'appFinallp1:Tickets' %}">Tickets</a>
            <a class="nav-link hover-effect" href="{% url 'appFinallp1:Homepage' %}#atracciones">Atracciones</a>
            <a class="nav-link hover-effect" href="{% url 'appFinallp1:Homepage' %}#novedades">Novedades</a>
            <a class="nav-link hover-effect" href="{% url 'appFinallp1:Contacto' %}">Contacto</a>
            </a>            
        </div>
    </div>
</nav>

